In [ ]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from folium.plugins import HeatMap

In [ ]:
df_siniestros = pd.read_excel("homicidios.xlsx")
df_victimas = pd.read_excel("lesiones.xlsx")

In [ ]:
df_siniestros

In [ ]:
df_siniestros.info()

In [ ]:
df_siniestros.isnull().sum()

In [ ]:
df_siniestros[["Altura", "Calle", "Dirección Normalizada", "Cruce"]][:5]

In [ ]:
df_siniestros[df_siniestros["Dirección Normalizada"].isnull()][["Dirección Normalizada", "Cruce","Altura", "Calle"]]

In [ ]:
#Tras examinar datos nulos, que representan el 5% del dataset; distribuidos en tres columnas Altura, Dirección Normalizada, Cruce y Calle

In [ ]:
#Analizando los datos de la Altura se procede a eliminarla debido a la gran cantidad de faltantes y no existiendo manera de poder rellenar las colummas;

In [ ]:
plt.hist(df_siniestros["COMUNA"])
plt.show()

In [ ]:
plt.hist(df_siniestros["TIPO_DE_CALLE"])
plt.show()

In [ ]:
plt.hist(df_siniestros["VICTIMA"],bins=10)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.hist(df_siniestros["ACUSADO"],bins=10)
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Se elimina la columna "Altura"
df_siniestros=df_siniestros.drop("Altura", axis=1)
df_siniestros.columns

In [ ]:
df_siniestros.duplicated().sum()

In [ ]:
#Transformación de los datos
#Se regularizan los tipos de datos de las columnas

#Ante la salida de la info del dataset, se observa que la primera columna con tipo de dato que necesita transformación es HH, debido a que se encuentra como objeto y deberia ser númerico.

In [ ]:
df_siniestros["HH"].unique()

In [ ]:
# Cambio el dato horas  a tipo de dato numerico
df_siniestros ["HH"]= pd.to_numeric(df_siniestros ["HH"], downcast="integer", errors="coerce")

In [ ]:
# Filtrar filas con posiciones no válidas
valid_positions = ~(df_siniestros['pos x'].str.contains('[^0-9.,-]') | df_siniestros['pos y'].str.contains('[^0-9.,-]') | (df_siniestros['pos x'] == '.') | (df_siniestros['pos y'] == '.'))

In [ ]:
# Establecer posiciones no válidas en NaN
df_siniestros.loc[~valid_positions, ['pos x', 'pos y']] = np.nan

In [ ]:
# Convertir las cadenas a tipo numérico (float)
df_siniestros['pos x'] = df_siniestros['pos x'].str.replace(',', '.').astype(float)
df_siniestros['pos y'] = df_siniestros['pos y'].str.replace(',', '.').astype(float)

In [ ]:
df_siniestros.head(3)

In [ ]:
# Función para extraer las coordenadas CABA
# Esta función toma un argumento texto, que es el texto de entrada del cual se intentarán extraer las coordenadas
# Utiliza una expresión regular (re.findall) para buscar todas las coincidencias de números decimales (que tienen un punto como s

In [ ]:
def extraer_coordenadas(texto):
    # Utilizamos una expresión regular para extraer las coordenadas
    coordenadas = re.findall(r'\d+\.\d+', texto)
    if len(coordenadas) == 2:
        return float(coordenadas[0]), float(coordenadas[1])
    else:
        return None, None

# Aplicar la función a la columna 'XY (CABA)'
df_siniestros['coordenada_x'], df_siniestros['coordenada_y'] = zip(*df_siniestros['XY (CABA)'].map(extraer_coordenadas))

# Filtrar los registros que no tienen coordenadas válidas
df_siniestros = df_siniestros[(df_siniestros['coordenada_x'].notnull()) & (df_siniestros['coordenada_y'].notnull())]

In [ ]:
df_siniestros.head(3)

In [ ]:
#Se observan las columnas resultantes
df_siniestros.columns

In [ ]:
#Cambio la primer letra a mayúscula
df_siniestros.columns = [x.capitalize() for x in df_siniestros.columns]
# Reemplazo guiones por espacios
df_siniestros.columns = df_siniestros.columns.str.replace("_", " ")
#Renombra columnas
df_siniestros= df_siniestros.rename(columns={"N victimas": "Num víctimas",
                                            "Aaaa": "Año",
                                            "Mm":"Mes",
                                            "Dd": "Día",
                                            "Hh": "Hora int"})
df_siniestros.columns

In [ ]:
#trabajamos con el data set lesiones

In [ ]:
df_victimas

In [ ]:
df_victimas.info()

In [ ]:
plt.hist(df_victimas["acusado"],bins=15)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.hist(df_victimas["victima"],bins=10)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.hist(df_victimas["gravedad"],bins=5)
plt.xlabel("SEXO")
plt.show()